@page "/certificates"

<div class="contentMainDivision">
    <div class="contantArea">
        <h1 class="centertext heading">Certificates</h1>
        <br />
        <h5 class="centertext">
            Certificates ensures overall basic knowledge. <br />
            They are important but projects are the real teacher.
        </h5>
        <br />
        <br />
        <br />
        <h3 class="underline">Build Web Apps with ASP.Net Skill Path</h3>
        <h5>Skill Path, From CodeCademy Learning Website</h5>
        <br />
        <br />
        <h3 class="underline">Build a Website with HTML, CSS, and Github Pages</h3>
        <h5>Skill Path, From CodeCademy Learning Website</h5>

        <br />
        <br />
        <br />
        <h1 class="centertext heading">Ongoing Learning</h1>
        <br />
        <br />

        <h3 class="underline">Web Development Career Path</h3>
        <h5>Career Path, From CodeCademy Website </h5>
        <h6>Adding to my skills: Javascript, React, Back-end development </h6><h6> with javascript,  Test-Driven Development with JavaScript and more</h6>

        <br />
        <h3 class="underline">Computer Science</h3>
        <h5>From CodeCademy Website</h5>
    </div>
</div>
