<div class="intro">
    <div class="introitem" id="introitem1">
        Hard Work
    </div>
    <div class="introitem" id="introitem2">
        Intilligent Work
    </div>
    <div class="introitem" id="introitem3">
        Standardized Work
    </div>
</div>





